{% extends "aplicacion/index.html"%}
{% block titulo %}
<h1 class="masthead-heading mb-0">Control de Insumos </h1>
{% endblock titulo %}

{% block contenido %}

<h1 class="masthead-heading mb-0">Aqui va la lista de insumos </h1>

<br></br>

<table class="table table-striped">
    <!-- Encabezado de la tabla -->
    <thead>
        <tr>
            <th>Nombre de insumo</th>
            <th>Costo unitario</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <!-- Contenido de la tabla -->
    <tbody>
        {% for c in insumos %}
        <tr>
            <td>{{c.nombre}}</td>
            <td>{{c.costo}}</td>
            <td>{{c.cantidad}}</td>

        </tr>
        {% endfor %}
    </tbody>


</table>

{% endblock contenido %}